@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    body {
        min-width: 235px;
        width: 100%;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lessons .col {
        width: 100%;
        margin-bottom: 3rem;
    }

    .steps .row .col {
        width: 100%;
        margin-bottom: 3rem;
    }

    .why-us .row .col {
        width: 100%;
        margin-bottom: 3rem;
    }

    .why-us {
        background-color: #222222;
        padding-top: 2rem;
        
        position: relative;
        bottom: 50px;
    }
}


@media screen and (min-width:767px) {
    .container {
        width: 100%;
        max-width: 1500px;
    }
}